<div class="row">
  <div class="col">
    <jhi-alert-error></jhi-alert-error>
  </div>
</div>
<div class="row justify-content-around">
  <div class="col col-md-4">
    <form name="createForm" role="form" novalidate (ngSubmit)="create()" [formGroup]="createForm">
      <h2 id="jhi-team-heading" data-cy="TeamCreateUpdateHeading">Create a Team</h2>

      <div class="alert alert-danger" *ngIf="doNotMatch">The password and its confirmation do not match!</div>

      <div>
        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name"/>
          <div
            *ngIf="createForm.get('name')!.invalid && (createForm.get('name')!.dirty || createForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="createForm.get('name')?.errors?.required"> This field is
              required. </small>
            <small class="form-text text-danger" *ngIf="createForm.get('name')?.errors?.minlength">
              This field is required to be at least 3 characters.
            </small>
            <small class="form-text text-danger" *ngIf="createForm.get('name')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="password">New password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="New password"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="createForm.get('password')!.invalid && (createForm.get('password')!.dirty || createForm.get('password')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="createForm.get('password')?.errors?.required"> Your password is
              required. </small>

            <small class="form-text text-danger" *ngIf="createForm.get('password')?.errors?.minlength">
              Your password is required to be at least 4 characters.
            </small>

            <small class="form-text text-danger" *ngIf="createForm.get('password')?.errors?.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="createForm.get('password')!.value"></jhi-password-strength-bar>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">New password confirmation</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirm the new password"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              createForm.get('confirmPassword')!.invalid &&
              (createForm.get('confirmPassword')!.dirty || createForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="createForm.get('confirmPassword')?.errors?.required">
              Your confirmation password is required.
            </small>

            <small class="form-text text-danger" *ngIf="createForm.get('confirmPassword')?.errors?.minlength">
              Your confirmation password is required to be at least 4 characters.
            </small>

            <small class="form-text text-danger" *ngIf="createForm.get('confirmPassword')?.errors?.maxlength">
              Your confirmation password cannot be longer than 50 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="createForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="plus"></fa-icon>&nbsp;<span>Create</span>
        </button>
      </div>
    </form>
  </div>

  <div class="col col-md-4">
    <form name="joinForm" role="form" novalidate (ngSubmit)="join()" [formGroup]="joinForm">
      <h2 id="jhi-team-heading" data-cy="TeamCreateUpdateHeading">Join a Team</h2>

      <div>
        <div class="form-group">
          <label class="form-control-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name"/>
          <div *ngIf="joinForm.get('name')!.invalid && (joinForm.get('name')!.dirty || joinForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="joinForm.get('name')?.errors?.required"> This field is
              required. </small>
            <small class="form-text text-danger" *ngIf="joinForm.get('name')?.errors?.minlength">
              This field is required to be at least 3 characters.
            </small>
            <small class="form-text text-danger" *ngIf="joinForm.get('name')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_password">Password</label>
          <input type="text" class="form-control" name="password" id="field_password" data-cy="password"
                 formControlName="password"/>
          <div
            *ngIf="joinForm.get('password')!.invalid && (joinForm.get('password')!.dirty || joinForm.get('password')!.touched)">
            <small class="form-text text-danger" *ngIf="joinForm.get('password')?.errors?.required"> This field is
              required. </small>
            <small class="form-text text-danger" *ngIf="joinForm.get('password')?.errors?.minlength">
              This field is required to be at least 60 characters.
            </small>
            <small class="form-text text-danger" *ngIf="joinForm.get('password')?.errors?.maxlength">
              This field cannot be longer than 60 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="joinForm.invalid || isSaving"
          class="btn btn-secondary"
        >
          <fa-icon icon="handshake"></fa-icon>&nbsp;<span>Join</span>
        </button>
      </div>
    </form>
  </div>

</div>
