<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="challenge">
      <h2 data-cy="challengeDetailsHeading"><span>Challenge</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ challenge.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ challenge.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ challenge.description }}</span>
        </dd>
        <dt><span>Points</span></dt>
        <dd>
          <span>{{ challenge.points }}</span>
        </dd>
        <dt><span>Answer</span></dt>
        <dd>
          <span>{{ challenge.answer }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/challenge', challenge.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
